<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col col-16 text-center">
        Made by 🦌 and 🐟 with ❤️ and 🍵 in 🗽
      </div>
      <div class="col col-16 text-center">
        <a href="https://apiobuild.com/privacy-policy" target="_blank"
          >Privacy Policy</a
        >
        &
        <a href="https://apiobuild.com/terms-of-service" target="_blank"
          >Terms of Service</a
        >
      </div>
      <!--
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-last order-lg-end">
        <!--
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
          <li class="list-inline-item">
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end -}}
        </ul>
      </div>
      -->
    </div>
  </div>
</footer>
